/bin
/.idea
/libs

### C template
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll

*.dat
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.suo
*.njsproj
/js/typings
/js/obj
/js/node_modules
*.sln

# Debug files
*.dSYM/

# Created by .ignore support plugin (hsz.mobi)
